#container {
    margin: 20px;
    position: relative;
}

.special-text {
    color: rgb(255, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 0;
}

/* .special-text:first-of-type { */
    /* left: -110px; /* Adjust as needed */ 
/* } */

/* .special-text:last-of-type { */
    /* right: -110px; /* Adjust as needed */
/* } */
